.zoom:hover {
    scale: 1.2;
}

.zoom {
    transition: all 0.5s ease-in-out;
}

.dropdown-menu>div>button:hover {
    color: white;
    background-position: 0%;
}

.dropdown-menu>div>button {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    padding: 7px;
    width: 100%;
    background-size: 200% 100%;
    background-position: 100%;
    background-image: linear-gradient(to right, #000 0%, #000 50%, #fff 50%, #fff 100%);
}

.dropdown:hover>.dropdown-menu {
    animation: appear 0.4s ease-in-out both;
    display: block;
    -webkit-animation: appear 0.4s ease-in-out both;
    -moz-animation: appear 0.4s ease-in-out both;
    -o-animation: appear 0.4s ease-in-out both;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

a.logo-title {
    color: white;
    margin-left: 1%;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 0 3px 10px #fff;
}

div.logo-center {
    display: flex;
    align-items: center;
}

button.color {
    color: white;
}

button.color:hover {
    color: white;
}