@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --primary-color: #ec1f55;
    --text-color: #333;
}


body,
html {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.stars-container {
    margin-top: -8px;
    margin-left: -12px;
    width: 101.4%;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #05477f 0%, #000000 100%);
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0
}