:root {
    --card-height: 300px;
    --card-width: 300px;
}

.cards {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20px;
    cursor: pointer;
}

.card {
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 30px;
    perspective: 2500px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 0cm;
    margin-left: 30px;

}

.wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 200px;
    transition: all 0.5s ease-in-out;
    ;
}


.title:hover {
    opacity: 1;
    backdrop-filter: blur(4px) brightness(75%);
}

.title {
    font-size: 22px;
    font-weight: 900;
    width: 100%;
    height: 100%;
    padding-top: 45%;
    left: -11%;
    border-radius: 200px;
    margin: auto 11%;
    background: #fff;
    opacity: 0;
    text-align: center;
    text-shadow: 0 0 10px #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s linear;
    z-index: 999;
    position: absolute;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .duy {
        position: absolute;
        margin-top: 60em;
        margin-left: -260px;

    }

    .dat {
        position: absolute;
        margin-top: 60em;
        margin-left: 300px;
    }

    .stars-container {
        height: 75em;
    }
}

@media (max-width: 576px) {
    .tuan {
        position: absolute;
        margin-top: 15em;
        margin-left: 55px;
    }

    .duc {
        position: absolute;
        margin-top: 70em;
        margin-left: 55px;
    }

    .duy {
        position: absolute;
        margin-top: 125em;
        margin-left: 55px;

    }

    .dat {
        position: absolute;
        margin-top: 180em;
        margin-left: 55px;
    }

    .stars-container {
        height: 120em;
    }
}